<div class="loader">
  <div
    class="progress"
    [style.width]="progressWidth + '%'"
  >
    <span>
      {{ progressWidth }}%
    </span>
  </div>
</div>
<div>
  <button (click)="forward()">Forward</button>
  <button (click)="back()">Back</button>
  <button (click)="loop()">Loop {{ isLooped ? 'off' : 'on' }}</button>
  <button (click)="pause()">Pause {{ isPaused ? 'off' : 'on' }}</button>
</div>

<div class="loader">
  <div
    class="progress"
    [style.width]="progressWidth2 + '%'"
  >
  </div>
</div>
<div>
  <button (click)="start2()">Start</button>
</div>
<span>
  Next load after {{ counter }}ms
</span>
